@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat, arial, verdana;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
h1{
  text-decoration: double;
  text-decoration-style: double;
  color: white;
  text-shadow: 4px 4px 7px rgb(32, 30, 30);
  font-size: 4rem;
  font-style: oblique;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* #multistepsform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#multistepsform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#multistepsform fieldset:not(:first-of-type) {
  display: none;
}
#multistepsform input, #multistepsform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
#multistepsform input:focus, #multistepsform textarea:focus {
  border-color: #679b9b;
  outline: none;
  color: #637373;
}
#multistepsform .action-button {
  width: 100px;
  background: #ff9a76;
  font-weight: bold;
  color: #fff;
  transition: 150ms;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#multistepsform .action-button:hover, #multistepsform .action-button:focus {
  box-shadow: 0 0 0 2px #f08a5d, 0 0 0 3px #ff9 76;
  color: #fff;
}
#multistepsform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
#multistepsform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
#multistepsform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#multistepsform #progressbar li {
  list-style-type: none;
  color: #679b9b;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#multistepsform #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #679b9b;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#multistepsform #progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #679b9b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#multistepsform #progressbar li:first-child:after {
  content: none;
}
#multistepsform #progressbar li.active {
  color: #ff9a76;
}
#multistepsform #progressbar li.active:before, #multistepsform #progressbar li.active:after {
  background: #ff9a76;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}
/* .landing-page {
  height: 100vh;
  width: 100%;
  background-color: lightcoral;
} */
/* .landing-page .menu-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #f8f8f8;
  color: #1c1b20;
  z-index: 6;
}
.landing-page .menu-btn:hover {
  cursor: pointer;
}
.landing-page .menu-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "+";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  font-weight: 100 !important;
  font-family: serif;
  transition-duration: 500ms;
}
.landing-page .menu-btn.active::before {
  transform: rotate(405deg);
  background-color: #343436;
  color: #f8f8f8;
}
.landing-page .overlay {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #eee;
  transition-duration: 700ms;
  z-index: 4;
}
.landing-page .overlay.active {
  transform: scale(100, 100);
}
.landing-page .menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -5;
  opacity: 0;
  transition: opacity 1500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page .menu-container .menu-wrapper {
  list-style: none;
}
.landing-page .menu-container .menu-wrapper li {
  margin: 10px 0;
  display: flex;
  justify-content: left;
}
.landing-page .menu-container .menu-wrapper li a {
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15vmin;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.4px #343436;
  transition-duration: 200ms;
}
.landing-page .menu-container .menu-wrapper li a:hover {
  color: #343436;
  -webkit-text-stroke: 0px #343436;
}
.landing-page .menu-container .menu-wrapper li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68vmin;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.2);
}
.landing-page .menu-container .menu-underlay {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: lightblue;
}
.landing-page .menu-container.active {
  transition-delay: 0ms;
  opacity: 1;
  z-index: 5;
} */
/* .landing-page .landing-page-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #343436;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* .landing-page .landing-page-content div {
  font-size: 20vmin;
  font-weight: 700;
}
.landing-page .landing-page-content div span {
  font-size: 40px;
  font-weight: 400;
} */
/* 

html, body {
  width: 100vw;
  height: 30vh;
  margin: 0;
  padding: 0;
  display: flex;
}
button {
  margin: auto;
  position: relative;
  display: block;
  font-weight: 100;
  background: #ffffff;
  border: 1px solid #3db74e;
  text-decoration: none;
  color: #3DB74E;
  padding: 15px 20px;
  transition: .225s ease all;
  overflow: hidden;
  will-change: transform;
  box-shadow: 3px 3px 0px rgba(61, 183, 78, 0.5);
  display: flex;
  flex-flow: row-reverse wrap;
  align-content: center;
}
button .icn {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  position: relative;
}
button .icn:before {
  content: '';
  display: inline-block;
  background: rgba(0, 0, 0, 0.9);
  width: 1px;
  height: 120%;
  position: absolute;
  top: -10%;
  left: 50%;
  transition: 0.5s cubic-bezier(0.775, 0.01, 0.22, 0.985) transform, 0.225s ease background;
}
button .icn:after {
  content: '';
  display: inline-block;
  background: rgba(0, 0, 0, 0.9);
  width: 1px;
  height: 120%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: rotate(90deg);
  transition: 0.5s cubic-bezier(0.775, 0.01, 0.22, 0.985) transform, 0.225s ease background;
}
button .icn.minus:after, button .icn.minus:before {
  transform: rotate(270deg);
}
button:after {
  content: '';
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: #3DB74E;
  z-index: -1;
  transition: 0.5s top cubic-bezier(0, 1.015, 1, 0.98), 0.5s ease transform;
  will-change: transform;
  transform-origin: top center;
  transform: translateY(-100%) rotate(-10deg);
}
button:hover, button:focus {
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(61, 183, 78, 0.3);
  color: white;
}
button:hover:after, button:focus:after {
  transform: translateY(-100%) rotate(10deg);
  top: 150%;
}
button:hover .icn:before, button:hover .icn:after, button:focus .icn:before, button:focus .icn:after {
  background: white;
}
button.clicked {
  cursor: pointer;
  transform: translate(3px, 3px) !important;
  box-shadow: 0px 0px 0px #3db74e !important;
  border: 1px solid rgba(61, 183, 78, 0.5);
} */ 